.photo-grid{
    width: 92.5%;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5.75rem;
    margin-bottom: 0;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: auto;
    grid-gap: 16px;
}

@media screen and (max-width: 1152px) {
    .photo-grid {
        grid-gap: 14px;
        width: 90.625%;
    }
}

@media screen and (max-width: 896px) {
    .photo-grid {
        grid-gap: 16px;
        width: 93.75%;
        margin-top: 88px;
    }
}

@media screen and (max-width: 690px) {
    .photo-grid {
        grid-gap: 12px;
        width: 90%;
        margin-top: 64px;
    }
}