.places {
    margin: auto;
    max-width: 76.875%;
    width: 100%;
    margin-top: 92px;
}

@media screen and (max-width: 1152px) {
    .places {
        max-width: 90.625%;
    }
}

@media screen and (max-width: 930px) {
    .places {
       max-width: 93.75%;   
       margin-top: 88px; 
    }
}
  
@media screen and (max-width: 544px) {
    .places {
        margin-top: 64px;
        max-width: 100%;    
    }
}
