.intro__text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-top: 40px;
    padding-bottom: 33px;
    margin: 0;
}

@media screen and (max-width: 690px) {
    .intro__text {
        padding-bottom: 34px;
    }
}